body {
    margin: 0;
    padding: 0;

    height: 100vh;

    background-color: #000000;
    display: grid;
    justify-items: center;
    align-content: end;
}

svg {
    display: block;
    min-height: 100vh;
}

text {
    font-family: "Press Start 2P", sans-serif;
}

#title {
    user-select: none;
}

#play_btn:hover,
#play_again_btn:hover,
#play_again_btn_2:hover {
    cursor: pointer;
}
